@model BioNetWork.Models.Users.UsersModel
@{
    int countList = Model.UserList.Count;
}

<h2>List of User</h2>
<br />

<a class="btn btn-outline-success btn-sm" asp-area="" asp-controller="Home" asp-action="Create">Добавить нового пользователя</a>
<table class="table table-bordered table-light">
    <thead>
        <tr>
            <th>№</th>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Adress</th>
            <th>DateRegistration</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserList)
        {
            <tr>
                <td>@(Convert.ToInt32(Model.UserList.IndexOf(item))+1)</td>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.Adres</td>
                <td>@item.DateRegistration</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Home/SelectEditPersonData?Id=@item.Id">Изменить</a>
                    <a class="btn btn-danger btn-sm" href="/Home/Delete?Id=@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>