@model BioNetWork.Areas.User.Models.UserModel
<div class="container mt-5">
    <div class="row justify-content-center align-content-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">@Model.Name на базе</h1>

            <div class="mb-3">
                <label class="form-label">@Model.Id</label>
            </div>
            <div class="mb-3">
                <label class="form-label">@Model.Email</label>
            </div>
            <div class="mb-3">
                <label class="form-label">@Model.Password</label>
            </div>
            <div class="mb-3">
                <label class="form-label">@Model.Biography</label>
            </div>
            <div class="mb-3">
                <label class="form-label">@Model.Age</label>
            </div>
            <div class="mb-3">
                <label class="form-label">@Model.DataRegister</label>
            </div>
            <div class="mb-3">
                <label class="form-label">@Model.Gender</label>
            </div>
        </div>
    </div>
</div>